In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib

KeyboardInterrupt

In [ ]:
#import csv file
data=pd.read_csv("")

In [ ]:
#to read the whole file
print(data.to_string())

In [ ]:
#Increase the maximum number of rows to display the entire DataFrame
pd.options.display.max_rows =

In [ ]:
#import excel file
data=pd.read_excel("")

In [ ]:
#to read json file
df = pd.read_json('data.json')

In [ ]:
data.head()

In [ ]:
data.tail()

In [ ]:
data.info()

In [ ]:
#remove rows that has cells with empty values.the dropna() method returns a new DataFrame, and will not change the original.
data.dropna()

In [ ]:
#will NOT return a new DataFrame, but it will remove all rows containing NULL values from the original DataFrame.
data.dropna(inplace = True)

In [ ]:
#Replace NULL values with the number 130
data.fillna(130, inplace = True)

In [ ]:
#Replace NULL values in columns with the number 0
data['pace'].fillna(0, inplace=True)

In [ ]:
#Replace Using Mean, Median, or Mode
x = data["Calories"].mean()
data["Calories"].fillna(x, inplace = True)

In [ ]:
x = data["Calories"].median()
data["Calories"].fillna(x, inplace = True)

In [ ]:
x = data["Calories"].mode()[0]
data["Calories"].fillna(x, inplace = True)

In [ ]:
# to convert all cells in the 'Date' column into dates
data['Date'] = pd.to_datetime(data['Date'])

In [ ]:
#to fix wrong value in row 7 by replacing it with 45
df.loc[7, 'Duration'] = 45

In [ ]:
#Loop through all values in the "Duration" column.If the value is higher than 120, set it to 120:
for x in df.index:
  if df.loc[x, "Duration"] > 120:
    df.loc[x, "Duration"] = 120

In [ ]:
#Delete rows where "Duration" is higher than 120:
for x in df.index:
  if df.loc[x, "Duration"] > 120:
    df.drop(x, inplace = True)

In [ ]:
data = data.drop(columns=[''])

In [ ]:
drop_cols = ['ocean_proximity']
data.drop(drop_cols,axis=1,inplace=True)

In [ ]:
df.duplicated()

In [ ]:
df.drop_duplicates(inplace = True)

In [ ]:
data.shape

In [ ]:
len()

In [ ]:
data.dtypes

In [ ]:
data.height_cm.dtypes

In [ ]:
df.select_dtypes(include='int64')

In [ ]:
df.select_dtypes(exclude='int64')

In [ ]:
data.size

In [ ]:
data.describe()

In [ ]:
data.describe(include='all').T

In [ ]:
data.isnull()

In [ ]:
data.isna().any()

In [ ]:
data.isnull().sum()

In [ ]:
# Loc  is used to select by labels 
# The Label of the column or column names
data.loc[:5,['median_income','median_house_value']]

In [ ]:
#  iloc is used to select by position 
# it used for selecting rows 
data.iloc[:4,:6]

In [ ]:
#Slicing
data[0:4]

In [ ]:
# Nunique  counts the number of unique entries over the column (or) rows 
# it is very useful in caterogical features.
data.nunique()

In [ ]:
data[""].unique()

In [ ]:
data[""].rank()

In [ ]:
nationality = ["Argentina", "Portugal", "Sweden", "England"]
data[data.nationality.isin(nationality)]

In [ ]:
data.memory_usage()

In [ ]:
data.sample(n=8)

In [ ]:
data.sample(frac = 0.25)

In [ ]:
data.replace(1.0, 1.1)

In [ ]:
#using dictionary for replace
data.replace({1.0: 1.1,  4.0: 4.1, 3.0: 3.1})

In [ ]:
#Groupby
data.groupby("nationality")['value_eur'].sum()

In [ ]:
data.groupby(['nationality', 'league_rank'])['value_eur', 'wage_eur'].agg([np.mean, np.median])

In [ ]:
data.index

In [ ]:
data.count()

In [ ]:
data[‘’].value_counts()

In [ ]:
data[''].value_counts(ascending=True)

In [ ]:
data.columns

In [ ]:
#Sorting
#Dataframe by Sorting the index
data.sort_index(axis=1,ascending=True)

In [ ]:
#Sort by values
data.sort_values(by='median_house_value')

In [ ]:
data.nsmallest(5)

In [ ]:
data.nsmallest(5,'median_house_value')

In [ ]:
data.nlargest(5)

In [ ]:
data.nlargest(5,'median_house_value')

In [ ]:
data.rename(columns = {"weight_kg": "Weight (kg)", "height_cm": "Height (cm)"})

In [ ]:
data.query('5000 < total_rooms < 5500')[:5]

In [ ]:
data.query("shooting > passing")

In [ ]:
#new column
new_col=np.random.randn(20640)
#insert the new column at position 8
data.insert (8,'new_col',new_col)
random_col = np.random.randint(100, size=len(data))

In [ ]:
#to get the percent change from the previous value of a variable
data.value_eur.pct_change()

In [ ]:
data[‘’].describe()

In [ ]:
#Finding Relationships. The corr() method calculates the relationship between each column in your data set.
Result Explained
The Result of the corr() method is a table with a lot of numbers that represents how well the relationship is between two columns.

The number varies from -1 to 1.

1 means that there is a 1 to 1 relationship (a perfect correlation), and for this data set, each time a value went up in the first column, the other one went up as well.

0.9 is also a good relationship, and if you increase one value, the other will probably increase as well.

-0.9 would be just as good relationship as 0.9, but if you increase one value, the other will probably go down.

0.2 means NOT a good relationship, meaning that if one value goes up does not mean that the other will.

What is a good correlation? It depends on the use, but I think it is safe to say you have to have at least 0.6 (or -0.6) to call it a good correlation.

Perfect Correlation:
We can see that "Duration" and "Duration" got the number 1.000000, which makes sense, each column always has a perfect relationship with itself.

Good Correlation:
"Duration" and "Calories" got a 0.922721 correlation, which is a very good correlation, and we can predict that the longer you work out, the more calories you burn, and the other way around: if you burned a lot of calories, you probably had a long work out.

Bad Correlation:
"Duration" and "Maxpulse" got a 0.009403 correlation, which is a very bad correlation, meaning that we can not predict the max pulse by just looking at the duration of the work out, and vice versa.
df.corr()

In [ ]:
df.plot(kind = 'scatter', x = 'Duration', y = 'Calories')
plt.show()

In [ ]:
#Use the kind argument to specify that you want a histogram:
kind = 'hist'
A histogram needs only one column.
A histogram shows us the frequency of each interval, e.g. how many workouts lasted between 50 and 60 minutes?
In the example below we will use the "Duration" column to create the histogram:
df["Duration"].plot(kind = 'hist')

In [ ]:
plt.plot(x, y)

plt.title("Sports Watch Data")
plt.xlabel("Average Pulse")
plt.ylabel("Calorie Burnage")

plt.show()

In [ ]:
x = ["APPLES", "BANANAS"]
y = [400, 350]

plt.bar(x, y)
plt.show()

In [ ]:
x = np.array(["A", "B", "C", "D"])
y = np.array([3, 8, 1, 10])

plt.barh(x, y)
plt.show()

In [ ]:
x = np.array(["A", "B", "C", "D"])
y = np.array([3, 8, 1, 10])

plt.bar(x, y, color = "hotpink")
plt.show()

In [ ]:
x = np.array(["A", "B", "C", "D"])
y = np.array([3, 8, 1, 10])

plt.bar(x, y, width = 0.1)
plt.show()

In [ ]:
#Note: For horizontal bars, use height instead of width
x = np.array(["A", "B", "C", "D"])
y = np.array([3, 8, 1, 10])

plt.barh(x, y, height = 0.1)
plt.show()

In [ ]:
#A histogram is a graph showing frequency distributions.
It is a graph showing the number of observations within each given interval.
Example: Say you ask for the height of 250 people, you might end up with a histogram like this:

In [ ]:
#With Pyplot, you can use the pie() function to draw pie charts:
y = np.array([35, 25, 25, 15])

plt.pie(y)
plt.show()

y = np.array([35, 25, 25, 15])
mylabels = ["Apples", "Bananas", "Cherries", "Dates"]

plt.pie(y, labels = mylabels)
plt.show() 

y = np.array([35, 25, 25, 15])
mylabels = ["Apples", "Bananas", "Cherries", "Dates"]

plt.pie(y, labels = mylabels, startangle = 90)
plt.show() 

y = np.array([35, 25, 25, 15])
mylabels = ["Apples", "Bananas", "Cherries", "Dates"]
myexplode = [0.2, 0, 0, 0]

plt.pie(y, labels = mylabels, explode = myexplode)
plt.show() 

y = np.array([35, 25, 25, 15])
mylabels = ["Apples", "Bananas", "Cherries", "Dates"]
myexplode = [0.2, 0, 0, 0]

plt.pie(y, labels = mylabels, explode = myexplode, shadow = True)
plt.show() 

y = np.array([35, 25, 25, 15])
mylabels = ["Apples", "Bananas", "Cherries", "Dates"]
mycolors = ["black", "hotpink", "b", "#4CAF50"]

plt.pie(y, labels = mylabels, colors = mycolors)
plt.show() 

y = np.array([35, 25, 25, 15])
mylabels = ["Apples", "Bananas", "Cherries", "Dates"]

plt.pie(y, labels = mylabels)
plt.legend()
plt.show() 

y = np.array([35, 25, 25, 15])
mylabels = ["Apples", "Bananas", "Cherries", "Dates"]

plt.pie(y, labels = mylabels)
plt.legend(title = "Four Fruits:")
plt.show()